<h1>liste des formateurs</h1>
<table class="table">
  <tr *ngFor="let formateur of formateurs">
    <td>{{ formateur.id }}</td>
    <td>{{ formateur.prenom }}</td>
    <td>{{ formateur.nom }}</td>
    <td>
      <a
        [routerLink]="['/formateur', 'edit', formateur.id]"
        class="btn btn-outline-info"
        >edition</a
      >
    </td>
    <td>
      <button (click)="delete(formateur.id)" class="btn btn-outline-danger">
        supprimer
      </button>
    </td>
  </tr>
</table>
<a routerLink="/formateur/edit" class="btn btn-link">ajouter un formateur</a>
