<div>
  mon site
  <nav>
    <a class="btn btn-link" routerLink="/formateur" routerLinkActive="active"
      >formateur</a
    >
    <a
      class="btn btn-link"
      [routerLink]="['/classement']"
      routerLinkActive="active"
      >classement</a
    >
    <a class="btn btn-link" routerLink="/produit" routerLinkActive="active"
      >produit</a
    >
    <a
      class="btn btn-link"
      [routerLink]="['/bonjour', 'olivier']"
      routerLinkActive="active"
      >bonjour olivier</a
    >
    <a
      class="btn btn-link"
      [routerLink]="['/bonjour', 'toto']"
      routerLinkActive="active"
      >bonjour toto</a
    >
  </nav>
</div>
<router-outlet></router-outlet>
