<div>
  mon site
  <nav>
    <ng-container *ngIf="login">Bonjour {{ login }}</ng-container>
    <a class="btn btn-link" routerLink="/home" routerLinkActive="active"
      >accueil</a
    >
    <ng-container *ngIf="!login; else auth">
      <a class="btn btn-link" routerLink="/login" routerLinkActive="active"
        >login</a
      >
    </ng-container>

    <ng-template #auth>
      <a class="btn btn-link" routerLink="/formateur" routerLinkActive="active"
        >formateur</a
      >
      <a class="btn btn-link" routerLink="/formation" routerLinkActive="active"
        >formation</a
      >
      <button class="btn btn-link" (click)="logout()">deconnexion</button>
    </ng-template>
  </nav>
</div>
<router-outlet></router-outlet>
