<div>
  <h1>edition formation</h1>
  <div>
    <div class="form-group">
      <label for="id">id:</label>
      <input
        id="id"
        class="form-control"
        [(ngModel)]="formation.id"
        placeholder="generation automatique"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="nom">nom de la formation:</label>
      <input id="nom" class="form-control" [(ngModel)]="formation.nom" />
    </div>
    <div class="form-group">
      <label for="dateFormation">date de la formation:</label>
      <input
        id="dateFormation"
        type="date"
        class="form-control"
        [(ngModel)]="formation.dateFormation"
      />
    </div>
    <div class="form-group">
      <label for="referent">formateur referent:</label>
      <select [(ngModel)]="formation.referent" class="form-control">
        <option
          *ngFor="let formateur of formateurs | async"
          [ngValue]="formateur"
        >
          {{ formateur.prenom }} {{ formateur.nom }}
        </option>
      </select>
    </div>
    <div>
      <button class="btn btn-outline-info" (click)="save()">enregistrer</button>
      <a
        routerLink="/formation"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >annuler</a
      >
    </div>
  </div>
</div>
